header{
    background-color: blueviolet;
    padding: 20px;
}
#logo{
    border-radius: 30px;
    width: 250px;
}
@font-face{
    font-family: 'Arapey';
    src: url('Arapey-Regular.tff')format('TrueType')
}

.tituloprincipal{
    position:absolute;
    top: 13%;
    left: 30%;
    transform: translate(-30px -10px);
    font-size: 35px;
    font-family: 'Arapey';
}
main{
    width: 940px;
    margin: auto;
}

form{
    margin: 40px 0;
}
header{
    background-image: linear-gradient(white,gray,black);
    padding: 20px
}
h1{
    color: rgb(0, 0, 0);
}

#logo{
    border-radius: 20px;
    width: 250px;
}

@font-face {
    font-family:'blinker';
    src: url('Blinker-Regular.ttf') format('TrueType');
}

.titulo-principal{
    position: absolute;
    top: 13%;
    left: 30%;
    transform: translate(-30px -10px);
    font-size: 35px;
    font-family: 'blinker';
}

main{
    width: 940px;
    margin: auto;
}

form{
    margin: 40px 0;
}
header{
    background-image: linear-gradient(white,gray,black);
    padding: 20px
}
h1{
    color: whitesmoke;
}

#logo{
    border-radius: 20px;
    width: 250px;
}

@font-face {
    font-family:'blinker';
    src: url('Blinker-Regular.ttf') format('TrueType');
}

.titulo-principal{
    position: absolute;
    top: 13%;
    left: 30%;
    transform: translate(-30px -10px);
    font-size: 35px;
    font-family: 'blinker';
}

main{
    width: 940px;
    margin: auto;
}

form{
    margin: 40px 0;/*margem superior e inferior de 40px, para os lados zero*/
}

form label, form p{/*Vamos replicar a mesma configuração do form label para o parágrafo,
 por isso, o uso da vírgula*/

 display: block;
 font-size: 20px;
margin: 0 0 10px;/*10px para baixo*/;
}
