.cabecalho{
    background-color: rgb(40, 63, 113);
    width: auto;
    height: auto;
}
.Conteudo{
    background-color: ;
    width: auto;
    height: 600px;
}
.rodape{
    width: auto;
    height: 150px;
}
.logo{
    border-radius: auto;
    width: auto;
    align-items: center;
}

